body {
  font-family: sans-serif;
  margin: 0;
}
h1{
  text-align: center;
  margin: 0.5em 0;
}
.reasons {
  box-sizing: border-box;
  width: 48%;
  background: #eee;
  list-style: none;
  text-align: right;
  padding: 0.5em 8px;
}
.reasons li {
  padding: 0.25em 0;
}
.reasons input[type="range"] {
  width: 44%;
  position: relative;
  top: 4px;
}
.delete {
  font-weight: bold;
}
.delete:hover {
  color: #f33;
}



/* ========== OLD ============ */

#choices {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
fieldset {
  box-sizing: border-box;
  display: inline-block;
  border: none;
  width: 48%;
  max-width: 500px;
  text-align: left;
  padding-left: 6px;
  background: #eee;
}
fieldset h2 {
  margin-top: 4px;
}
input[type="range"] {
  width: 74%;
  font-size: 1em;
	position: relative;
}
#decision {
  text-align: center;
}
