body {
  font-family: sans-serif;
  margin: 0;
  background: #ccc;
}
h1{
  text-align: center;
  margin: 0.5em 0;
}
form {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}
fieldset {
  box-sizing: border-box;
  display: inline-block;
  border: none;
  width: 48%;
  max-width: 500px;
  text-align: left;
  background: #eee;
}
fieldset legend {
  background: #eee;
  font-size: 1.25em;
  padding: .25em .5em 0;
  text-align: center;
}
.choices label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #eee;
  padding: .75em;
  min-height: 5.75em;
}
.choices fieldset {
  border-radius: 4px;
  border-radius: 4px;
  background: transparent;
  padding: 0;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.choices h2 {
  margin: 0 0 .75em;
}
.reasons fieldset,
.reasons legend,
.choices label {
  border-radius: 4px;
}
fieldset.reason-header label {
  padding: 0;
  margin-top: .25em;
  border: none;
}
.reasons input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  padding: .5em .25em;
  border: 3px solid #999;
  outline: none;
  background: #efefef;
}
.reasons input:focus-within,
.reasons input:active {
  background: #fff;
  border-color: #209920;
}
.reasons input::placeholder {
  color: #666;
}
.reasons input:focus-within::placeholder,
.reasons input:active::placeholder {
  color: #eee;
}
.reasons label {
  border: none;
}
input[type="range"] {
  width: 99%;
  font-size: 1em;
	position: relative;
  padding: 1em 0;
}
output {
  display: none;
}
#decision {
  text-align: center;
  margin: 0;
}
.yes {
  color: #30aa30;
}
.not {
  color: #ee6666;
}
.dunno {
  color: #666666;
}
