:root {
  --background: #ccc;
  --background2: #efefef;
  --accent1: #eee;
  --accent2: #555;
  --contrast: #fff;
  --contrast2: #999;
  --pros: #209920;
  --cons: #e44;
}
body {
  font-family: sans-serif;
  margin: 0;
  background: var(--background);
}
h1{
  text-align: center;
  margin: .5em 0;
}
.instruction {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25em;
}
form {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}
fieldset {
  box-sizing: border-box;
  display: inline-block;
  border: none;
  width: 48%;
  max-width: 500px;
  text-align: left;
  background: var(--accent1);
}
fieldset legend {
  background: var(--accent1);
  font-size: 1.25em;
  padding: .25em .5em 0;
  text-align: center;
}
.choices label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: var(--accent1);
  padding: .75em;
  padding-bottom: 0;
  margin-bottom: .25em;
  min-height: 5.75em;
  border: none;
  position: relative;
}
.choices fieldset {
  border-radius: 4px;
  background: transparent;
  padding: 0;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.choices legend {
  margin: 0 0 .75em;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  background: inherit;
}
.reasons fieldset,
.reasons legend,
.choices label {
  border-radius: 4px;
}
fieldset.reason-header label {
  padding: 0;
  margin-top: .25em;
  border: none;
}
.reasons input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  padding: .5em .25em;
  border: 3px solid var(--contrast2);
  outline: none;
  background: var(--background2);
}
.reasons input:focus-within,
.reasons input:active {
  background: var(--contrast);
  border-color: var(--pros);
}
.reasons #not:focus-within,
.reasons #not:active {
  border-color: var(--cons);
}
.reasons input::placeholder {
  color: var(--accent2);
}
.reasons input:focus-within::placeholder,
.reasons input:active::placeholder {
  color: var(--accent1);
}
input[type="range"] {
  width: 91%;
  font-size: 1em;
  padding: .75em 0;
}
output, .delete {
  position: absolute;
  bottom: .85em;
  right: 7px;
}
.delete {
  top: .5em;
  right: 6px;
  width: 20px;
  height: 20px;
  padding: 0;
}
#decision {
  text-align: center;
  margin: 1em 0 0;
}
.yes { color: var(--pros); }
.not { color: var(--cons); }
.dunno { color: var(--accent2); }
